# Python
.venv/
__pycache__/
*.pyc
.env

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Airflow
logs/

# Secrets
service-account-key.json
*.json.key
